<div class="wrapper">
    <div class="weight-value">
        <span>{{totalWeight}}/{{system.coreStats.enc.current}} </span>
    </div>
    {{#if (gte totalWeight system.coreStats.enc.current)}}
        <div class="weightbar-overweight"></div>
    {{else}}
        <progress class="weightbar" value="{{totalWeight}}" max="{{system.coreStats.enc.current}}"></progress>
    {{/if}}
</div>
<div class="flex">
    <div class="weapon-section">
        <div class="flex">
            <div class="currency">
                <label>{{localize "WITCHER.Currency.bizant"}}</label>
                <input class="small-medium" name="system.currency.bizant" type="number"
                    value="{{system.currency.bizant}}" placeholder="0" data-dtype="Number" />
            </div>
            <div class="currency">
                <label>{{localize "WITCHER.Currency.ducat"}}</label>
                <input class="small-medium" name="system.currency.ducat" type="number" value="{{system.currency.ducat}}"
                    placeholder="0" data-dtype="Number" />
            </div>
            <div class="currency">
                <label>{{localize "WITCHER.Currency.lintar"}}</label>
                <input class="small-medium" name="system.currency.lintar" type="number"
                    value="{{system.currency.lintar}}" placeholder="0" data-dtype="Number" />
            </div>
            <div class="currency">
                <label>{{localize "WITCHER.Currency.floren"}}</label>
                <input class="small-medium" name="system.currency.floren" type="number"
                    value="{{system.currency.floren}}" placeholder="0" data-dtype="Number" />
            </div>
            <div class="currency">
                <label>{{localize "WITCHER.Currency.crown"}}</label>
                <input class="small-medium" name="system.currency.crown" type="number" value="{{system.currency.crown}}"
                    placeholder="0" data-dtype="Number" />
            </div>
            <div class="currency">
                <label>{{localize "WITCHER.Currency.oren"}}</label>
                <input class="small-medium" name="system.currency.oren" type="number" value="{{system.currency.oren}}"
                    placeholder="0" data-dtype="Number" />
            </div>
            <div class="currency">
                <label>{{localize "WITCHER.Currency.falsecoin"}}</label>
                <input class="small-medium" name="system.currency.falsecoin" type="number"
                    value="{{system.currency.falsecoin}}" placeholder="0" data-dtype="Number" />
            </div>
        </div>

        {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-weapons.hbs" weapons=weapons itemType='weapon' header=(localize "WITCHER.Inventory.Weapons")}}
    </div>

    <div class="armor-section">
        {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-armors.hbs" armors=armors itemType='armor' header=(localize "WITCHER.Inventory.Armor")}}
    </div>
</div>
<div class="flex">
    <div class="valuable-section">
        <div class="section-header valuable-header">
            <div></div>
            <h2>{{localize "WITCHER.Inventory.Valuables"}}</h2>
            <div class="list-label">
                <span>  
                    <a class="add-item" data-itemType="valuable">
                        <i class="fas fa-plus"></i>
                    </a>
                </span>
            </div>
        </div>
        
        {{#if questItems}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-valuables.hbs" valuables=questItems header=(localize "WITCHER.Valuable.QuestItem")}}
        {{/if}}

        {{#if general}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-valuables.hbs" valuables=general header=(localize "WITCHER.Valuable.General")}}
        {{/if}}

        {{#if foodAndDrinks}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-valuables.hbs" valuables=foodAndDrinks header=(localize "WITCHER.Valuable.Food&Drinks")}}
        {{/if}}

        {{#if toolkits}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-valuables.hbs" valuables=toolkits header=(localize "WITCHER.Valuable.Toolkit")}}
        {{/if}}

        {{#if clothingAndContainers}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-valuables.hbs" valuables=clothingAndContainers header=(localize "WITCHER.Valuable.Clothings")}}
        {{/if}}

        {{#if mounts}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-mounts.hbs"  mounts=mounts header=(localize "WITCHER.Inventory.Mounts")}}
        {{/if}}

        {{#if mountAccessories}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-valuables.hbs" valuables=mountAccessories header=(localize "WITCHER.Valuable.MountAccessories")}}
        {{/if}}

        {{#if containers}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-valuables.hbs" valuables=containers header=(localize "WITCHER.Valuable.Containers") itemType="container"}}
        {{/if}}

        <div class="section-header valuable-header">
            <div></div>
            <h2>{{localize "WITCHER.Inventory.Diagrams"}}</h2>
            <div class="list-label">
                <span>  
                    <a class="add-item" data-itemType="diagrams">
                        <i class="fas fa-plus"></i>
                    </a>
                </span>
            </div>
        </div>
        {{#if alchemicalItemDiagrams}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-diagrams.hbs" diagrams=alchemicalItemDiagrams header=(localize "WITCHER.Inventory.AlchemicalItemDiagrams")}}
        {{/if}}

        {{#if oilDiagrams}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-diagrams.hbs" diagrams=oilDiagrams header=(localize "WITCHER.Inventory.OilDiagrams")}}
        {{/if}}

        {{#if potionDiagrams}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-diagrams.hbs" diagrams=potionDiagrams header=(localize "WITCHER.Inventory.PotionDiagrams")}}
        {{/if}}

        {{#if decoctionDiagrams}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-diagrams.hbs" diagrams=decoctionDiagrams header=(localize "WITCHER.Inventory.DecoctionDiagrams")}}
        {{/if}}

        {{#if ingredientDiagrams}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-diagrams.hbs" diagrams=ingredientDiagrams header=(localize "WITCHER.Inventory.IngredientDiagrams")}}
        {{/if}}

        {{#if ammunitionDiagrams}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-diagrams.hbs" diagrams=ammunitionDiagrams header=(localize "WITCHER.Inventory.AmmunitionDiagrams")}}
        {{/if}}

        {{#if weaponDiagrams}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-diagrams.hbs" diagrams=weaponDiagrams header=(localize "WITCHER.Inventory.WeaponDiagrams")}}
        {{/if}}

        {{#if enhancementDiagrams}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-diagrams.hbs" diagrams=enhancementDiagrams header=(localize "WITCHER.Inventory.enhancementDiagrams")}}
        {{/if}}

        {{#if armorDiagrams}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-diagrams.hbs" diagrams=armorDiagrams header=(localize "WITCHER.Inventory.ArmorDiagrams")}}
        {{/if}}

        {{#if elderfolkWeaponDiagrams}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-diagrams.hbs" diagrams=elderfolkWeaponDiagrams header=(localize "WITCHER.Inventory.ElderfolkWeaponDiagrams")}}
        {{/if}}

        {{#if elderfolkArmorDiagrams}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-diagrams.hbs" diagrams=elderfolkArmorDiagrams header=(localize "WITCHER.Inventory.ElderfolkArmorDiagrams")}}
        {{/if}}

        {{#if bombDiagrams}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-diagrams.hbs" diagrams=bombDiagrams header=(localize "WITCHER.Inventory.BombDiagrams")}}
        {{/if}}

        {{#if trapDiagrams}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-diagrams.hbs" diagrams=trapDiagrams header=(localize "WITCHER.Inventory.TrapDiagrams")}}
        {{/if}}
    </div>

    <div class="component-section">
        <div class="section-header valuable-header">
            <div></div>
            <h2>{{localize "WITCHER.Inventory.Alchemy"}}</h2>
            <div class="list-label">
                <span>  
                    <a class="add-item" data-itemType="alchemical">
                        <i class="fas fa-plus"></i>
                    </a>
                </span>
            </div>
        </div>

        {{#if alchemicalItems}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-alchemical.hbs" alchemicals=alchemicalItems header=(localize "WITCHER.Inventory.AlchemicalItems")}}
        {{/if}}

        {{#if oils}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-alchemical.hbs" alchemicals=oils header=(localize "WITCHER.Inventory.Oils")}}
        {{/if}}

        {{#if witcherPotions}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-alchemical.hbs" alchemicals=witcherPotions header=(localize "WITCHER.Inventory.WitcherPotionsAndDecoctions")}}
        {{/if}}

        {{#if mutagens}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-alchemical.hbs" alchemicals=mutagens itemType='mutagen' header=(localize "WITCHER.Inventory.Mutagens")}}
        {{/if}}

        {{#if alchemicalTreatments}}
            {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-components.hbs" components=alchemicalTreatments header=(localize "WITCHER.Inventory.AlchemicalTreatments")}}
        {{/if}}

        <div>
            {{> "systems/TheWitcherTRPG/templates/partials/character/substances.hbs"}}
        </div>

        <div class="section-header valuable-header">
            <div></div>
            <h2>{{localize "WITCHER.Inventory.Crafting"}}</h2>
            <div class="list-label">
                <span>  
                    <a class="add-item" data-itemType="component">
                        <i class="fas fa-plus"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="components">
            {{#if craftingMaterials}}
                {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-components.hbs" components=craftingMaterials header=(localize "WITCHER.Inventory.CraftingMaterials")}}
            {{/if}}

            {{#if ingotsAndMinerals}}
                {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-components.hbs" components=ingotsAndMinerals header=(localize "WITCHER.Inventory.IngotsAndMinerals")}}
            {{/if}}

            {{#if hidesAndAnimalParts}}
                {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-components.hbs" components=hidesAndAnimalParts header=(localize "WITCHER.Inventory.HidesAndAnimalParts")}}
            {{/if}}

            {{#if runeItems}}
                {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-runes-glyphs.hbs" enhancements=runeItems header=(localize "WITCHER.Inventory.Runes")}}
            {{/if}}
            {{#if glyphItems}}
                {{> "systems/TheWitcherTRPG/templates/partials/character/inventory-templates/tab-inventory-runes-glyphs.hbs" enhancements=glyphItems header=(localize "WITCHER.Inventory.Glyphs")}}
            {{/if}}
        </div>
    </div>
</div>